@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@600&display=swap');

body {
  background-color: rgb(247, 247, 234);
  font-size: 19px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h2{
  margin-bottom: 2rem;
  padding-top: 2rem;

}



h1 {
  margin-bottom: 2rem;
  padding-top: 2rem;
}


.thumbs {
  margin-bottom: 2rem;
  
}

.navigation ul {
  list-style-type: none;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: rgb(222, 118, 33);
}

.navigation li {
  float: right;
  /* border: 1px solid black; */
}

.navigation li a {
  display: block;
  color: rgb(181, 231, 208);
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  padding-top: 1.5rem;
}

li a:hover {
  background-color: rgb(232, 151, 84);
  -webkit-margin-top-collapse: 2rem;
}

footer {
  /* position: absolute;  */
  margin-top: 2rem;
  padding-top: 4rem;
  background-color: rgb(222, 118, 33);
  color: rgb(181, 231, 208);
}

.social {
  padding-left: 2rem;
  color: rgb(181, 231, 208);
}


.button {
  background-color: rgb(222, 118, 33);
  padding: 1rem 8rem;
  color: rgb(181, 231, 208);
  border-radius: 12px;
  border: hidden
}

.button:hover {
  background-color: rgb(232, 151, 84);
  color: rgb(128, 59, 22);
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: rgb(222, 118, 33);
}

@media all and (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }

  .navigation ul {
    padding: 0;
  }
  .navigation li {
    float: none;
    padding: .5em;
    border-bottom: 1px solid rgb(181, 231, 208);
  }

  .navigation li a {
    display: inline;
  }
}

.navigation a {
  font-size: 1.5rem;
  color: rgb(181, 231, 208);
}

.active-page {
  background-color: rgb(232, 151, 84);
  -webkit-margin-top-collapse: 2rem; 
}

.navigation a:hover {
  color: rgb(128, 59, 22);
}

.logo {
padding:20px 30px

}

.prodimg {
  /* -webkit-transition: transform 2s ease-in-out; */
  /* -moz-transition: transform 2s ease-in-out; */
  transition: transform .1s ease-in-out;
  border-radius: 30px;
}
.prodimg:hover {
  transform: scale(105%);
}

.my-modal {
  background-color: rgb(247, 247, 234);
}

.heads{
background-color:rgb(222, 118, 33);
color: rgb(181, 231, 208);
padding: 2rem

}
.forms{

  margin-top:1rem;
}

.inputw{
padding-top:1rem;

}

.pays{

  margin:.25rem;
}

#carouselExampleAutoplaying{

margin-bottom: 8rem;

}

.carousel-item img{
  /* border-radius: 30px; */
}

.text-primary {
  color: rgb(222, 118, 33) !important;
}

.bg-primary {
  background-color: green !important;
}